<div class="container">
<div class="alert alert-info" role="info">
  Curently under construction.
</div>

<h2>Top 10 Movies</h2>
<div class="movies" height=100>
	<ul>
		<li *ngFor= "let movie of movieList ">
			{{ movie.name }}
			<img src="{{imageSrc}}{{ movie.poster_path }}" alt="">
		</li> 
	</ul>
</div>
<h2>Top 10 TvShows</h2>
<div class="tv"></div>
<ul>
	<li *ngFor= "let tvShow of tvShowList ">
		{{ tvShow.name }}
		<img src="{{imageSrc}}{{ tvShow.poster_path }}" alt="">
	</li> 
</ul>
</div>
