div.movie_header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

div.movie_header div.movie_info {
    display: flex;
    padding-left: 1em;
    flex-direction: column;
}

div.images ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;  
    overflow-x: scroll;
    box-sizing: border-box;
    padding: 1em;
}

div.images ul li {
    margin: 1em;
    transition: all 0.3s;
    box-shadow: -10px -2px 13px -3px rgba(0,0,0,0.35);
}

div.images ul:first-of-type li {
    margin-left: 0;
}

div.images ul li:hover {
    transform: scale(1.1);
    box-shadow: -12px 3px 10px -3px rgba(0,0,0,0.35);
}
