input.search  {
	display: block;
	width: 100%;
	border: 1px solid black;
}

#dropdown {
	position: absolute;
	top: 27px;
	background-color: white;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
	background-color: white;
	border: 1px solid black;
	border-radius: 0px 0px 5px 5px;
	overflow: hidden;
	border-top: 1px solid transparent;
	transition: all 0.3s;
	height: 0px;
}

#dropdown.active {
	height: 500px;
}

#dropdown ul {
	display: flex;
	flex-direction: column;
	padding: 0;
}

#dropdown ul li {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid #efefef;
	transition: all 0.3s;
	box-sizing: border-box;
	padding: 5px;
}

#dropdown ul li span {
	margin-right: 1em;
}

#dropdown ul li:hover {
	background-color: #F8F1BE;
}

#dropdown ul li img {
	height: 51px;
	width: 54px;
}

/* NoImage style */

#dropdown ul li div.no_image {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

#dropdown ul li div.no_image span.noImage{
	height: 51px;
	width: 54px;
	margin-right: 1em;
	
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #dbdbdb;
}

#dropdown ul li div.no_image p {
	margin: 0;
}

#dropdown div.noImage p {
	display: inline-block;
	vertical-align: middle;
}


