input.search  {
	display: block;
	width: 400px;
	border: 1px solid grey;
	transition: all 0.3s;
}

input.search:focus {
	border: 1px solid #007bff;
}

#dropdown {
	position: absolute;
	top: 27px;
	background-color: white;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
	background-color: white;
	border: 1px solid rgba(0,0,0,0.65);
	box-shadow: -3px 7px 23px -3px rgba(0,0,0,0.35);
	border-radius: 0px 0px 15px 15px;
	overflow: hidden;
	transition: all 0.3s;
	height: 0px;
	opacity: 0;
}

#dropdown.active {
	height: 500px;
	opacity: 1;
}

#dropdown ul {
	display: flex;
	flex-direction: column;
	padding: 0;
}

#dropdown ul li {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid #efefef;
	transition: all 0.3s;
	box-sizing: border-box;
	padding: 5px;
}

#dropdown ul li span {
	margin-right: 1em;
}

#dropdown ul li:hover {
	background-color: #F8F1BE;
	cursor: pointer;
}

#dropdown ul li img {
	height: 51px;
	width: 54px;
}

/* NoImage style */

#dropdown ul li div.no_image {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

#dropdown ul li div.no_image span.noImage {
	height: 51px;
	width: 54px;
	margin-right: 1em;
	
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #dbdbdb;
}

#dropdown ul li div.no_image span.noImage i {
	font-size: initial;
}

#dropdown ul li div.no_image p {
	margin: 0;
}

#dropdown div.noImage p {
	display: inline-block;
	vertical-align: middle;
}


