<nav class="main">
  <div class="links_container">
    <a href="#">Home</a>
  </div>

  <div class="search_container">
   <input type="text" (keyup)="onKeyUp($event)" class="search_input">

   <div *ngIf="results">
      <div id="dropdown">
        <ul>
          <li *ngFor="let item of results.results">
          <img src="{{imageSrc}}{{posterSizes.super_small}}{{item.poster_path}}" alt="{{ item.name }}">
          <p>{{ item.name }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div> 
  
</nav>


      
