@import '../common.less';

nav.main {
	display: flex;
	box-sizing: border-box;
	padding: 0 1em;
	justify-content: space-between;
	align-items: center;
	background-color: @color_orangeDark;
	padding: 1em;

// padding: 1em calc(~'(100% - 1200px) / 2');
}

div.search_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
	align-items: center;

	& i,
	& p {
		padding: 0 0.5em;
		color: @color_white;
	}
}

div.links_container {
	display: flex;
	align-items: center;
	justify-content: center;

	& a {
		color: @color_white;
		font-size: 1.2em;
		padding-right: 1em;
		text-decoration: none;
	}

	& a.menu {
		font-size: 1.5em;
	}
}

