<div class="container">
	<h2>{{ TvSeason.name }}</h2>
	<div class="Season_information">
		<div class="thumnbnail">
			<img src="https://image.tmdb.org/t/p/{{posterSizes.medium}}{{TvSeason.poster}}" alt="{{TvSeason.name}}">
		</div>
		<div class="info">
			<p>Summery: {{TvSeason.overview}}</p>
			<p>Released on: {{TvSeason.release_date}}</p>
			<p>Episodes: {{TvSeason.episodes.length}}</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="episodes_list">
		<ul>
			<li *ngFor="let episode of TvSeason.episodes" class="episode">
				<div class="info">
					<p>Episode: {{episode.number}}</p>
					<p>Name: {{ episode.name }}</p>
					<p>Summery: {{episode.overview}}</p>
					<p>Released: {{ episode.release_date }}</p>
				</div>
				<img src="{{imageSrc}}{{posterSizes.large}}{{episode.poster}}" alt="{{episode.name}}">
			</li>
		</ul>
	</div>
</div>