<div class="container">
	<h2>{{ TvSeason.name }}</h2>
	<div class="Season_information">
		<div class="thumnbnail">
			<div *ngIf="TvSeason.poster; else noImage">
				<img src="https://image.tmdb.org/t/p/{{posterSizes.medium}}{{TvSeason.poster}}" alt="{{TvSeason.name}}">
			</div>
		</div>
		<div class="info">
			<p>Summery: {{TvSeason.overview}}</p>
			<p>Released on: {{TvSeason.release_data}}</p>
			<p>Episodes: {{TvSeason.episodes.length}}</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="episodes_list">
		<ul>
			<li *ngFor="let episode of TvSeason.episodes" class="episode">
				<div class="info">
					<p>Episode: {{episode.number}}</p>
					<p>Name: {{ episode.name }}</p>
					<p>Summery: {{episode.overview}}</p>
					<p>Released: {{ episode.release_date }}</p>
				</div>
				<div *ngIf="episode.poster; else noImage">
					<img src="{{imageSrc}}{{posterSizes.large}}{{episode.poster}}" alt="{{episode.name}}">
				</div>
			</li>
		</ul>
	</div>
</div>

<!-- No Image Template -->
<ng-template #noImage>
		<span class="noImage">
			<i class="fa fa-battery-quarter"  aria-hidden="true"></i>
		</span>
</ng-template>