<div *ngIf="userInfo !=null; else guest">
	<div class="sidebar" [ngClass]="{'closed': sidebarClose}">

		<div class="logo">
			<a href="#">Logo</a>
		</div>

		<!-- user.avatar -->
		<div class="avatarIcon">
				<svg><use attr.xlink:href="assets/sprite.svg#{{userInfo.avatar}}"></use></svg>
		</div>

		<!-- user.name -->
		<h3>{{ userInfo.displayName }}</h3>

		<div class="subs">
			<a href="javascript:void(0)" (click)="getSubscriptions(userInfo.userId)">Subscriptions</a>
			<div *ngIf="subscriptions">
				<ul>
					<li *ngFor="let subs of subscriptions">
						{{ subs.item.title }}
						<img src="https://image.tmdb.org/t/p/w185{{subs.item.poster }}" alt="{{subs.item.title}}">
					</li>
				</ul>
			</div>
		</div>

		<div class="sidebarBtn" (click)="sidebarClose = !sidebarClose"> </div>
		
	</div>

</div>

<ng-template #guest>

	<div class="sidebar" [ngClass]="{'closed': sidebarClose}">
				
		<!-- user.avatar -->
		<div class="avatarIcon">
			<p>Avatar icon</p>
		</div>

		<!-- user.name -->
		<a href="javascript:void(0)" (click)="auth.googleLogin()">Login Guest</a>

		<div class="sidebarBtn" (click)="sidebarClose = !sidebarClose"> </div>
		
	</div>
</ng-template>