<div class="sidebar" [ngClass]="{'closed': sidebarClose}" >

	<!-- Logo -->
	<div class="logo">
		<img src="../assets/angular.png" alt="angular_logo">
		<span>Watcher</span>
	</div>

	<div *ngIf="userInfo !=null; else guest">

		<!-- Avatar icon -->
		<div class="avatarIcon">
				<svg><use attr.xlink:href="assets/sprite.svg#{{userInfo.avatar}}"></use></svg>
		</div>
	
		<h3>{{ userInfo.displayName }}</h3>
		
		<div class="sidebarLinks">
			<!-- Home -->
			<a href="javascript:void(0)" [routerLink]="['home']" routerLinkActive="active">
				<i class="fa fa-home" aria-hidden="true"></i>
				<p> Home</p>
			</a>
		
			<!-- Profile -->
			<a href="javascript:void(0)" [routerLink]="['profile']" routerLinkActive="active">
				<i class="fa fa-user-o" aria-hidden="true"></i>
				<p>Profile</p>
			</a>
	
			<!-- Subscriptions -->
			<a href="javascript:void(0)" (click)="getSubscriptions(userInfo.userId)" routerLinkActive="active" [ngClass]="{'subsActive': subscriptionLink}">
					<i class="fa fa-television" aria-hidden="true"></i>
				<p>	Subscriptions</p>
			</a>
		</div>

		<!-- Subscriptions Container-->
		<div *ngIf="subscriptionLink" class="subsContainer">
			<ul>
				<li *ngFor="let subs of subscriptions">
					<img src="https://image.tmdb.org/t/p/w185{{subs.item.poster }}" alt="{{subs.item.title}}">
					{{ subs.item.title }}
				</li>
			</ul>
		</div>
	</div>

	<!-- Contact information -->
	<div class="contact">
		<h4>Contact</h4>

		<a href="mailto:iliya.melishev@gmail.com" class="email">
				<i class="fa fa-envelope-o" aria-hidden="true"></i>
				iliya.melishev@gmail.com
		</a>

		<a href="https://github.com/iliyaM" class="github">
			<i class="fa fa-github" aria-hidden="true"></i>
			Github
		</a>
	</div>

</div>

<ng-template #guest>
	<!-- user.avatar -->
	<div class="avatarNoUser">
		<i class="fa fa-user-o" aria-hidden="true"></i>
	</div>

	<a href="javascript:void(0)" (click)="auth.googleLogin()" class="noUser">
			<i class="fa fa-sign-in" aria-hidden="true"></i>
			Login Guest
	</a>
</ng-template>

