<div *ngIf="tvItem">
	<div class="container">
		<h2>{{tvItem.title}}</h2>
		<img src="{{imageSrc}}{{posterSizes.huge}}{{tvItem.poster }}" alt="{{tvItem.name}}">
		<p>{{ tvItem.overview }}</p>

		<h5>Creators:</h5>
		<div class="creators">
			<div *ngFor="let creator of tvItem.creators" class="creator">
				<img src="{{imageSrc}}{{posterSizes.small}}{{creator.profile_poster}}" alt="{{creator.name}}">
				<p>{{creator.name}}</p>
			</div>
		</div>


		<div class="seasons">
			<h2>Sesons</h2>
			<ul>
				<li *ngFor="let season of tvItem.seasons" [routerLink]="['season', season.season_number]">
					<a href="javascript:void(0)">
						<span>{{season.season_number}}</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<router-outlet></router-outlet>