<section class="tvItem" *ngIf="tvItem">

	<h2>{{tvItem.title}}</h2>
	<div class="content">
		<div *ngIf="tvItem.poster; else noImage" class="image">
			<img src="{{imageSrc}}{{posterSizes.large}}{{tvItem.poster }}" alt="{{tvItem.name}}">
		</div>

		<div class="info">
			<p>summery: {{ tvItem.overview }}</p>
			<p>ReleaseDate: {{ tvItem.first_air_date }}</p>
			<p>Seasons: {{ tvItem.number_of_seasons }}</p>
			<p>Episodes: {{ tvItem.number_of_episodes }}</p>

			<div *ngIf="tvItem.status == 'Returning Series'; else cancled">
				<p class="text-success">{{ tvItem.status }}</p>
			</div>

			<!-- Subscribe Component -->
			<app-subscriber [information]="{status:tvItem.status, title:tvItem.title, id:tvItem.id, seasons:tvItem.seasons}"></app-subscriber>
		</div>
	</div>

	<div class="creators">
		<h4>Creators:</h4>
		<ul>
			<li *ngFor="let creator of tvItem.creators" class="creator">{{creator.name}}</li>
		</ul>
	</div>

	<div class="seasons">
		<h2>Sesons</h2>
		<ul>
			<li *ngFor="let season of tvItem.seasons" [routerLink]="['season', season.season_number]" fragment="test">
				{{season.season_number}}
			</li>
		</ul>
	</div>
	
	<div class="seasonInfo">
		<router-outlet></router-outlet>
	</div>

</section>

<!-- No Image Template -->
<ng-template #noImage>
		<span class="noImage">
			<i class="fa fa-battery-quarter"  aria-hidden="true"></i>
		</span>
</ng-template>

<!-- cancled -->
<ng-template #cancled>
	<p class="text-danger">{{ tvItem.status }}</p>
</ng-template>

