div.title {
	text-align: center;
	padding: 2em 0;
}

div.content {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

div.content div.info {
	padding-left: 1em;
}


div.creators {
	display: flex;
	flex: 1;
	flex-direction: row;
	align-items: center;
	color: orange;
	flex-wrap: wrap;
}

div.creators p {
	padding: 1em 0;
}

div.creators img {
	border-radius: 20px;
}

div.seasons ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: baseline;
	flex: 1;
	padding: 0;
	justify-content: center;
}

div.seasons ul li {
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
	align-items: center;
	border: 1px solid lightgrey;
	padding: 0.5em 1em;

	margin-bottom: 1em;
	margin-right: 1em;
}

div.seasons ul li:hover {
	transition: all 0.3s;
	background-color: lightgrey;
	trasnsform: scale(1.1);
	cursor: pointer;
}

div.seasons ul li a {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
	color: black;
}
