/* You can add global styles to this file, and also import other style files */
body {
	margin: 0;
	margin-top: 100px;
	font-family: 'Arial', sans-serif;
}

span.noImage {
    display: flex;
    align-items: center;
	width: 150px;
	height: 150px;
    background-color: #dbdbdb;
    justify-content: center;
}

span.noImage i {
    font-size: 50px;
}

div.creators span.noImage {
	width: 150px;
	height: 150px;
}