
<h2>Testing Authentications</h2>
<!-- <form [formGroup]="singupForm" (ngSubmit)="signUpFormSubmit()" id="signUpForm">
	<div class="form-group">

		<label for="email">Email</label>
		<input type="email" [formControl]="singupForm.controls['email']" class="form-control">

		<div class="error" *ngIf="titleError">
			<p>{{emailError}}</p>
		</div>


		<label for="password">Password</label>
		<input type="password" formControlName="password" [formControl]="singupForm.controls['password']" class="form-control">

		<div class="error"*ngIf="passwordError">
			<p>{{passwordEmail}}</p>
		</div>

		
		<label for="displayName">NickName</label>
		<input type="displayName" [formControl]="singupForm.controls['displayName']" class="form-control">

		<div class="error" *ngIf="displayNameError">
			<p>{{displayNameError}}</p>
		</div>

		<button type="submit" [disabled]="singupForm.invalid">Submit</button>
	</div>
</form> -->

