
<h2>Testing Authentications</h2>
<form [formGroup]="singupForm" (ngSubmit)="signUpFormSubmit()" id="signUpForm">
	<div class="form-group">
		<!-- Email -->
		<label for="email">Email</label>
		<input type="email" [formControl]="singupForm.controls['email']" class="form-control">
		<!-- Email error div -->
		<div class="error" *ngIf="titleError">
			<p>{{emailError}}</p>
		</div>

		<!-- Password -->
		<label for="password">Password</label>
		<input type="password" formControlName="password" [formControl]="singupForm.controls['password']" class="form-control">
		<!-- Password error -->
		<div class="error"*ngIf="passwordError">
			<p>{{passwordEmail}}</p>
		</div>

		<!-- Display name -->
		<label for="displayName">NickName</label>
		<input type="displayName" [formControl]="singupForm.controls['displayName']" class="form-control">
		<!-- DisplayName error -->
		<div class="error" *ngIf="displayNameError">
			<p>{{displayNameError}}</p>
		</div>

		<button type="submit" [disabled]="singupForm.invalid">Submit</button>
	</div>
</form>

